<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <% if session[:user_id] %>
      Welcome back!
      <a href="/sessions/logout">Logout</a></h2>
    <% else %>
      <h3>Who are you?</h3>
      <a href="/users/new">Register</a></h2>
      <a href="/sessions/new">Sign in</a></h2>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
